$colorSitePink: #F16D7F;
$colorSiteGrey: #6F6E6E;
$colorTextBlack: #000;
$colorSiteStroke: #A4A4A4;
$gapGrid: 30px;
$widthSite: 1140px;
$thirdSite: ($widthSite - $gapGrid) / 3;
$colorBackBlock: #222;
$widthBurgerMenu: 232px;