@import 'vars';
@import 'extender';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato;
}

summary {
    display: block;
}
  
summary::-webkit-details-marker {
    display: none;
}

.body {
    max-width: 1600px;
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 100%;
}

.content {
    max-width: 1140px;
    margin: 0 auto;
}
    
a {
    cursor: pointer;
    text-decoration: none;
}

.top {
    margin: 0 auto;
    overflow: hidden;
}

.header_left {
    display: flex;
    align-items: center;
    gap: 41px;
}

.header_right {
    display: flex;
    align-items: center;
    gap: 33px;
}

.header {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
    background: #222222;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
}

label {
    cursor: pointer;
}

#burger {
    display: none;
    position: absolute;  
    visibility: hidden;
    &:checked ~.nav {
        right: -$widthBurgerMenu;
    }
}

.nav {
    box-sizing: border-box;
    background-color: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0,0,0,0.21);
    width: 232px;
    height: 634px;
    box-sizing: border-box;
    position: absolute;
    z-index: 9999;
    top: 82px;
    right: 0;
    transition: right .3s;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap:20px;
}

.nav h4 {
    box-sizing: border-box;
    width: 100%;
    color: #000;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 33px;
    padding-top: 32px;
}

.menu_item {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

li {
    list-style-type: none;
}

.menu_item_title {
    color: $colorSitePink;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 24px;
    padding-left: 32px;
}

.menu_link {
    display: flex;
    color: $colorSiteGrey;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 53px;
    padding-top: 12px;
}


.promo {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    background: #F1E4E6;
    display: flex;
    justify-content: flex-start; 
}

.promo_img {
    width: 50%;
}

.promo__info {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-top: 290px;

}
  
.promo__title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}
  
.promo__heading {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.colortext {
    color: #F16D7F;
}
  
.promo__content {
    padding-left: 64px;
}

.sale_box {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
    padding-top: 64px;
    padding-bottom: 96px;;
}

.item {
    position: relative;
}

.item:hover {
    -webkit-transform: scale(1.2) translate(0px,-20px);
    transform: scale(1.2) translate(0px, -20px);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.img {
    max-width: 100%;
}

.sale_content {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.sale_text {
    display: flex;
    justify-content: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.sale_heading {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}

.item_big {
    grid-column: 1 / -1;
}

.content_heading {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #222222;
}

.content_text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 6px;
    color: #9F9F9F;
}


.content_sale{
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    justify-content: center;
    gap: 30px;
    
}

.item_sale {
    position: relative;
    display: inline-block;
    transition:all .3s ease;
    z-index: 1;
}
  
.image_container {
    position: relative;
    width: 100%;
    display: inline-block;
}
  
.item_img {
    position: relative;
    width: 100%;
}
  
.item_sale:hover .item_img {
    -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
    -webkit-filter: brightness(40%);
}
  
.image_overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.item_sale:hover .image_overlay {
    opacity: 1;
}
  
.description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 16px;
    gap: 16px;
}
  
.heading_content_sale {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}
  
.item_text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}
  
.price_product {
    text-decoration: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.pagination-box {
    margin-top: 48px;
    margin-bottom: 96px;
    text-align: center;
    display: flex;
    justify-content: center;
    color: $colorSiteGrey;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.pagination a {
    color: $colorSiteGrey;
    float: left;
    padding: 8px 16px;
    transition: background-color 0.3s;
}

.pagination a:hover {
    color: $colorSitePink;
}

.arrow:hover path{
    fill: $colorSitePink;
}


.button_browse {
    margin: 0 auto;
    display: block;
    width: 211px;
    height: 47px;
    margin-top: 48px;
    margin-bottom: 60px;
    white-space: nowrap;
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    background: #ffffff;
    border: 1px solid;
    border-color: #F26376;
    padding: 15px 39px 14px 39px;
    transition: 0.3s;
}

.button_browse:hover {
    background-color: $colorSitePink;
    color: #FFFFFF;   
}

.advantages__shop {
    margin: 0 auto;
    padding-top: 104px;
    padding-bottom: 104px;
    display: flex;
    justify-content: center;
    background: #222224;
}

.advantage__item {
    display: flex;
    flex-direction: column;
    max-width: 28%;
    align-items: center;
    justify-content: space-between;
}

.content__advantages {
    max-width: 1140px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.advantage__img {
    padding-top: 104px;
    padding-bottom: 28px;

}

.advantage__title {
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
    padding-top: 25px;
    padding-bottom: 16px;
}

.advantage__text {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.shopping {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.shop__cart {
    margin: 96px 0 128px;
}

.cart__card {
    display: flex;
    margin-bottom: 40px;
    box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}
.cart__card img{
    width: 262px;
    height: 306px;
    background-color: #F3EEEF;
}

.cart__card a {
    display: contents;
}

.cart__card-text {
    display: flex;
    flex-direction: column;
    padding: 22px 97px 62px 31px;
    position: relative;
    width: 390px
}
.cart__card-text h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    margin: 0 0 42px 0;
}

.cart__card-text > span {
    margin-bottom:  6px;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: $colorSiteGrey;
}

.cart__card .quantity {
    display: flex;
    &__input {
        border: 1px solid #EAEAEA;
        width: 44px;
        height: 25px;
        margin: 0 0 0 24px;
        text-align: center;
    }
}

.intro__text__decor {
    color: $colorSitePink;
}

.cart__card-icon {
    font-size: 30px;
    position: absolute;
    right: 22px;
    cursor: pointer;
    
    &:hover path {
    fill: $colorSitePink;
    }
}

.shop__cart-button {
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
}

.shop__cart-button button, .shop__cart-button a {
    padding: 17px 40px 17px 40px;
    border: 1px solid #A4A4A4;
    background: none;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    cursor: pointer;
    transition: .3s;
}

.shop__cart-button button:hover, .shop__cart-button a:hover {
    background-color: $colorSitePink;
    color: #FFFFFF;
}

.shop__forms {
    margin-top: 113px;
}

.ship__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 57px;
    & h4 {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;     
        color: #222;
        margin-bottom: 20px;
    }
    & input {
        width: 360px;
        height: 45px;
        border: 1px solid $colorSiteStroke;
        padding: 0 17px 0 17px;
        margin-bottom: 20px;
    }
    & button {
        background: none;
        border: 1px solid $colorSiteStroke;
        padding: 11px 14px 11px 14px;
        font-style: normal;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        color: $colorSiteStroke;
        cursor: pointer;
        transition: .3s;
    }
    & button:hover {
        background-color: $colorSitePink;
        color: #FFFFFF;
    }
}

.check__form {
    background: #F5F3F3;
    padding: 39px 43px 42px 43px;
    text-align: right;

    & h6 {
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 13px;
        color: $colorSiteStroke;
        margin-bottom: 12px;
        & > span {
            margin-left: 25px;
        }
    }

    & h4 {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: normal;
        color: #222;
        & > span {
            margin-left: 25px;
            color: $colorSitePink;
            font-weight: bold;
        }
    }

    & button {
        margin-top: 17px;
        padding: 16px 42px 16px 42px;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: $colorSiteStroke;
        background: #ffffff;
        border: 1px solid $colorSiteStroke;
        cursor: pointer;
        transition: .3s;
    }    
        & button:hover {
            background-color: $colorSitePink;
            color: #FFFFFF;
        }
}
    

   

.branch__subscribe {
    background-image: url(./img/background_subscribe.jpg);
    position: relative;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 86px;
    padding-bottom: 156px;
    display: flex;
    justify-content: center;
    
}

.branch__subscribe::before {
    
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(244, 244, 244, 0.70);
    z-index: 1;
}

.content__subscribe {
    display: flex;
    justify-content: space-around;
}

.review {
    max-width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img__review {
    padding-bottom: 30px;
}

.text__review {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.subscribe__zone {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.subscribe__title {
    font-family: Lato;
    color: #222224;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 167.2%;
}

.subsribe__text {
    font-family: Lato;
    color: #222224;
    text-align: center;
    font-size: 18px;
    line-height: 167.2%;
    padding-bottom: 32px;
}

.input__email {
    width: 256px;
    height: 49px;
    font-family: Lato;
    font-size: 14px;
    color: #222224;
    background-color: #E1E1E1;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border: none;
}

.subscribe__buttons {
    display: flex;
}

.button__subscribe {
    text-decoration: none;
    background: #F16D7F;
    padding: 17px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border: none;
    height: 49px;
    transition: 0.3s; 
}

.button__subscribe:hover {
    background-color: #FFFFFF;
    color: #F16D7F;
    
}

.footer {
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #222224;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rights__text {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FBFBFB;
}

.footer__icons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    :hover path {
        fill:#FFFFFF;
    }
}

.square {
    width: 32px;
    height: 32px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all .3s ease;
}

.square:hover {
    background-color: #F16D7F;
    opacity:1;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .promo__info {
        margin-top: 138px;;
    }
    
    .promo__title {
        font-size: 44px;
    }
    
    .advantages__shop {
        display: flex;
        flex-direction: column;
        padding-top: 48px;
        padding-bottom: 64px;
    }
    
    .content__advantages {
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        gap: 48px;
    }
    
    .advantage__item {
        min-width: 40%;
    }

    

    .content__subscribe {
        flex-direction: column;
        align-items: center;
    }

    .review {
        padding-bottom: 48px;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    
    .header_left {
        padding-left: 16px;
    }

    .header_right {
        padding-right: 16px;
    }

    .header_account {
        display: none;
    }

    .header_shopping_cart {
        display: none;
    }

    .dropdown__menu__content {
        padding: auto;
    }
    
    .promo_img {
        display: none;
    }
    .promo__info {
        margin-top: 148px;
        margin-bottom: 149px
    }

    .promo__title {
        font-size: 38px;
        line-height: 46px;
    }

    .promo__heading {
        font-size: 20px;
        line-height: 24px;
    }

    .sale_box {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 4.27%;
        margin-right: 4.27%;
        gap: 32px;
    }

    .advantages__shop {
        flex-direction: column;
        align-content: center;
        gap: 46px;
        padding-top: 48px;
        padding-bottom: 64px;
    }

    .advantage__item {
        max-width: 100%;
    }

    .content__advantages {
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        gap: 48px;
        max-width: 375px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .branch__subscribe {
        padding-top: 64px;
        padding-bottom: 110px;
        background-size: cover;
    }

    .content__subscribe {
        max-width: 375px;
        padding-left: 16px;
        padding-right: 16px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .review {
        max-width: max-content;
        padding-bottom: 59px;
    }

    .text__review {
        font-size: 18px;
    }
    
    .subsribe__text {
        font-size: 16px;
    }

    .footer {
        flex-direction: column-reverse;
        padding-top: 43px;
        padding-bottom: 9px;
    }
    
    .footer__icons {
        padding-bottom: 40px;
    }
}

.link__product {
    background-color: #F8F3F4;
    
}

.header__link__product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 148px;
}

.header__link__product h1 {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.breadcrumbs {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    color: #7f7f7f;
    font-size: 14px;
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    transition:all .3s ease;
}

.breadcrumbs li:first-child::before {
   
    content: '';
    color: #7f7f7f;
}


.breadcrumbs li::before {
    content: '/';
    margin-left: 5px;
    margin-right: 5px;
    color: #7f7f7f;
}

.breadcrumbs__link {
    text-decoration: none;
    color: #636363;
    font-size: 14px;
}

.breadcrumbs__link:hover {
    color: $colorSitePink;
}

.breadcrumbs:active {
    color: $colorSitePink;
}

.breadcrumbs:last-child {
    color: $colorSitePink;
}

.show__main {
    background-color: #F7F7F7;
}

.show__arrivals {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 11px;
    padding-bottom: 42px;    
}

.button__arrow {
    cursor: pointer;
    width: 47px;
    height: 47px;
    background-color: #cacaca;
    
}

.button__arrow:hover path{
    fill: $colorSitePink;
}

.showroom {
    display: flex;
    justify-content: center;
}

.product__info {
    border: 1px solid #EAEAEA;
    margin-top: -65px;
    background: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1141px;
    height: 601px;
}

.product__info__h {
    padding-top: 64px;
    font-family: Lato;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: $colorSitePink;
}

.product__info > span {
    width: 63px;
    height: 3px;
    background-color: #EF5B70;
    margin: 12px 0;
}

.product__info h3 {
    font-family: Lato;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
}

.product__info__text {
    font-family: Lato;
    max-width: 555px;
    margin: 48px 0 32px 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
}

.product__info__price {
    font-family: Lato;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
}

.product__info hr {
    width: 642px;
    margin-top: 64px;
}

.product__info__features {
    font-family: Lato;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    display: flex;
}

.features {
    display: flex;
    padding: 0 14px 20px 14px;
    position: relative;
    background: none;
    border: none;
    font-family: Lato;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    cursor: pointer;
    transition:all .3s ease;
}

.features:hover {
    color: $colorSitePink;
}

.features_icon {
    margin-bottom: 10px;
}

.product__info__button {
    color: #EF5B70;
    font-family: Lato, sans-serif;
    cursor: pointer;
    margin-top: 48px;
    width: 212px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: 1px solid #EF5B70;
    transition:all .3s ease;
    grid-gap: 23px
}

.product__info__button:hover {
    background-color: #EF5B70;
}
.product__info__button:hover path {
    fill: white;
}

.content {
    margin-bottom: 128px;
}
.filter-sort {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
    box-sizing: border-box;
    height: 132px;
    display: flex;
    gap: 30px;
    position: relative;
}

.filter {
    padding-top: 13px;
    width: 360px;
    height: 551px;
    box-sizing: border-box;
    position: absolute;
    top: 39px;
    z-index: 2;

    &__content {
        position: absolute;
        background-color: #FFF;
        padding: 0 16px 16px 16px;
        
    }

    &[open] {
        background: #FFF;
        box-shadow: 6px 4px 35px
        rgba(0, 0, 0, 0.21);
    }

    &[open] .filter__heading{
        color: $colorSitePink;
    }

    &[open] path {
        fill: $colorSitePink;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 11px;
        padding-left: 16px;
    }

    &__heading {
        color: $colorTextBlack;
        font-size: 14px;
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &__item {
        margin-top: 16px;
    }

    &__head {
        color: #6F6E6E;
        font-size: 14px;
        font-family: Lato;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEB;
        border-left: 5px solid $colorSitePink;
    }
    &__item[open] .filter__head{
        color: $colorSitePink;
    }

    &__link-box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px;
    }

    &__link {
        color: #6F6E6E;
        font-size: 14px;
        font-family: Lato;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        &:hover {
            color: $colorSitePink;
        }
    }
}

.sort {
    top: 51px;
    position: relative;
    left: 390px;
    display: flex;
    gap: 18px;

    &__details {
        position: relative;
        z-index: 2;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__check {
        display: flex;
        align-items: center;
        gap: 9px;
    }

    &__check {
        color: #6F6E6E;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    &__heading {
        color: #6F6E6E;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        background: #FFF;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        padding: 7px 30px 11px 9px;
        position: absolute;
        left: -9px;
        top: 22px;
    }
}