* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    max-width: 1600px;
    font-family: 'Lato', sans-serif;
    
}

.content {
    max-width: 1140px;
    margin: 0 auto;
}
    
.a {
    text-decoration: none;
}
  
.header_main {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
    background: #222222;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 75px
}

.header_left {
    display: flex;
    align-items: center;
    gap: 41px;
}

.header_right {
    display: flex;
    align-items: center;
    gap: 33px;
}

.promo {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    background: #F1E4E6;
    display: flex;
    justify-content: flex-start; 
}

.promo_img {
    width: 50%;
}

.promo__info {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-top: 48%;
}
  
.promo__title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}
  
.promo__heading {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}
  
.promo__content {
    padding-left: 64px;
}

.sale_box {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 360px);
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
    padding-top: 64px;
    padding-bottom: 96px;;
}

.item {
    position: relative;
}

.img {
    max-width: 100%;
}

.sale_content {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.sale_text {
    display: flex;
    justify-content: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.sale_heading {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}

.item_big {
    grid-column: 1 / -1;
}

.content_heading {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #222222;
}

.content_text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 6px;
    color: #9F9F9F;
}


.content_sale{
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
    gap: 30px;
}

.item_sale {
    background: #F8F8F8;
}

.description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 16px;
    gap: 16px;
}

.heading_content_sale {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.item_text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.price_product {
    text-decoration: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.button_browse {
    margin: 0 auto;
    display: block;
    margin-top: 48px;
    margin-bottom: 60px;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    background: #ffffff;
    border: 1px solid;
    border-color: #F26376;
    padding: 15px 39px 14px 39px;
}